@use 'fonts';

$primary-color: #DEDEDE;
$secondary-color: #D4D4D4;
$accent-color: #FF601C;
$fs6-blue: #2285C7;
$fs6-yellow: #FFE354;
$fs6-pink: #D35985;
$body-text-color: #3A3A3A;
$heading-font-family: 'mulishbold', helvetica, arial;
$body-font-family: 'cabin-regular',arial, sans-serif;
$hero-heading: 'cabin-bold', helvetica, arial;
$base-font-size: 18px;
$base-font-weight: 400;

