@use 'fonts';

$primary-color: #DEDEDE;
$secondary-color: #D4D4D4;
$accent-color: #FF601C;
$body-text-color: #333;
$heading-font-family: 'mulishbold', helvetica, arial;
$body-font-family: 'robotoregular',arial, sans-serif;
$hero-heading: 'mulishblack', helvetica, arial;
$base-font-size: 18px;
$base-font-weight: 400;

