@use '../abstracts/variables' as v;

.card {
    padding: 20px;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.3);
    transition: all .5s ease-in-out;
}

.card:hover {
    transform: scale(1.05);
}

.services-card {
    margin-bottom: 25px;
    padding: 20px;
    border: 2px solid black;
    border-radius: 15px;
    transition: all .3s ease-in-out;
}

.link-icon {
    position: absolute;
    margin-bottom: 25px;
    bottom: 0;

    color: v.$accent-color;
}

.project-card {
    //display: flex;
    position: relative;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
    padding: 20px;
    background-color: white;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.3);
    transition: all .3s ease-in-out;
    margin-bottom: 25px;

    p {
        margin-top: 10px;
       margin-bottom: 50px;
    }

    h2 {
        margin-top: 10px;
        width: 100%;
        font-size: 19px;
    }

}

.project-card:hover {
    transform: scale(1.02);
}

#contact-card {
    //margin: auto 0;
    //margin-top: 25px;
    //margin-bottom: 50px;
    //background-color: v.$primary-color;
    //border: solid 1px v.$accent-color;

    border-radius: 10px;
    
    h2 {
        font-size: 22px;
        font-weight: 400;
    }

    p {
        font-size: 18px;
        color: #fff;
        line-height: 36px;
        margin-top: 16px;
        margin-bottom: 20px;
    }
}

#demo-reel-card {
    margin-top: 25px;
    display: grid;
    

    h2 {
        margin: auto;
        width: 100%;
        padding-left: 4px;
        padding-bottom: 20px;
        //font-size: 32px;
        font-weight: 400;
        //color: v.$accent-color;        
    }

    p {
        padding-left: 4px;
    }
}

///EVENTS LIST CARD
.event-card {
    position: relative;
    width: 400px;
    height: 500px;
    // width: 674px;
    // height: 616px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);

    img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
        transition: all 0.4s ease;
    }

    img:hover {
        //cursor: pointer;
        transform: scale(1.1);
    }

    &:hover .event-card-content{
        transform: translateY(0%);
    }
}

.event-card-content {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 15px;
    background-color: rgba(13,14,32,0.55);
    //transform: translateY(100%);
    transition: all 0.4s ease;

    h3 {
        color: v.$fs6-yellow;
        font-size: 22px;
        font-weight: bold;
    }

    p {
        color: #fff;
        margin: 8px 0;
        margin-bottom: 0px;
    }
}

.btn-card {
    text-decoration: none;
    display: inline-block;
    padding-top: 8px;
    padding-bottom: 8px;
    width: 100%;
    border: none;
    border-radius: 20px;
    //background-color: v.$fs6-blue;
    font-family: v.$heading-font-family;
    color: #fff;
    font-size: 16px;
    //letter-spacing: 1.5px;
    margin-top: 10px;

    &:hover {
        color: v.$fs6-yellow;
    }
}

///EVENTS LIST CARD MINI

.event-card-mini {
    position: relative;
    width: 400px;
    height: 500px;
    // width: 674px;
    // height: 616px;
    border-radius: 8px;
    overflow: hidden;
    border: solid 0px v.$fs6-pink;
    border-bottom-width: 10px;
    //box-shadow: 0 5px 10px rgba(0,0,0,0.2);

    img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
        transition: all 0.4s ease;
    }

    img:hover {
        //cursor: pointer;
        transform: scale(1.1);
    }

    &:hover .event-card-content{
        transform: translateY(0%);
    }
}

///////////////////////// MEDIA QUERIES ////////////////////////

@media screen and (min-width: 768px) {
    .project-card {
        background-color: v.$primary-color;
    }

    .project-card:hover {
        background-color: #fff;
    }

    .event-card {
        width: 350px;
        height: 450px;
    }

    .event-card-mini {
        width: 350px;
        height: 250px;
    }

}

@media screen and (min-width: 1200px) {

    .services-card {
        h2 {
            font-weight: 400;
            font-size: 22px;
        }
    }

    .services-card:hover {
        border-color: v.$accent-color;
        border-bottom-width: 10px;
        background-color: rgb(230, 230, 230);
        //transform:scaleY(1.02);
    }

    #contact-card {
        border-bottom-width: 10px;

        p {
            font-size: 22px;
            padding-right: 60px;
        }
    }

    #contact-form {
        margin-top: 25px;
    }

    #demo-reel-card {
        margin-top: 25px;
        display: grid;
        
    
        h2 {
            padding-bottom: 0;
            margin: auto;
            width: 100%;
            font-size: 26px;
            font-weight: 400;
            //color: v.$accent-color;        
        }
    
        p {
            font-size: 18px;
            line-height: 1.5em;
            padding-right: 50px;
        }
    }

    .event-card {
        width: 500px;
        height: 500px;
    }

    .event-card-mini {
        width: 450px;
        height: 350px;
    }

}


@media screen and (min-width: 1900px) {
    .project-card {
        h2 {
            font-size: 22px;
        }
    
        p {
            font-size: 20px;
            line-height: 2rem;
            //margin-bottom: 60px;
    
        }
    }

    #contact-card {
        h2 {
            font-size: 32px;
        }

        p {
            padding-right: 80px;
            line-height: 52px;
            font-size: 26px;
        }
    }

    #demo-reel-card {
        margin-top: 25px;
        //margin-bottom: 50px;
        //background-color: v.$primary-color;
        //border: solid 1px v.$accent-color;
        //padding: 25px;
        border-radius: 10px;
    
        display: grid;
        
    
        h2 {
            margin: auto;
            width: 100%;
            font-size: 32px;
            font-weight: 400;
            //color: v.$accent-color;        
        }
    
        p {
            font-size: 22px;
            line-height: 2em;
            padding-right: 50px;
        }
    }

    .event-card {
        width: 700px;
        height: 700px;
    }

    .event-card-mini {
        width: 650px;
        height: 450px;
    }

}