@use '../abstracts/variables' as v;

.circle-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #777777;
    color: white;
    font-size: 32px;
}

.circle-icon-container:hover {
    background-color: v.$accent-color;
}

.circle-static-orange {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background-color: v.$accent-color;
    color: white;
    font-size: 32px;
}