// Import variables from the main variables partial
@forward 'header';
@forward 'footer';
@forward 'card';
@forward 'icons';
@forward 'tags';
@forward 'buttons';
@forward 'vidplayer';
@forward 'cntform';
@forward 'scrolltop';