@use '../abstracts/variables' as v; //Variables for fonts and colours

#stotytelling {
    background-color: #fff;
    text-align: center;
    height: 500px; //forced height value; used as placeholder
    padding-top: 60px;
}