@use '../abstracts/variables' as v;

#about-hero-content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

#about-hero-text {
    width: 320px;

    h2 {
        color: #fff;
        font-size: 36px;
    }

    p {
        color: #fff;
        font-size: 22px;
        line-height: 32px;
    }
}

#about-hero-logo {
    margin: auto 0;
    width: 280px;
}

#about-section {
    background-color: #fff;
    padding-top: 40px;
    padding-bottom: 40px;
}

#about-section-content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

#about-section-text {
    width: 320px;

    h2 {
        color: v.$fs6-pink;
    }

    p {
        margin-top: 20px;
    }
}

#about-section-img {
    margin: auto 0;
    width: 320px;

    img {
        border-radius: 8px;
        border: solid 0px v.$fs6-pink;
        border-bottom-width: 10px;
    }
}

#our-mission {
    //padding: 0 10px 0 10px;
    display: flex;
    width: 320px;
    flex-direction: column;

    h2 {
        //width: 100%;
        color: v.$fs6-pink;
    }
}

.section-separator-color-fill {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: v.$fs6-yellow;
    padding-top: 50px;
    padding-bottom: 50px;

    h3 {
        font-weight: 100;
        color: v.$fs6-blue;
        font-size: 22px;
        margin-bottom: 22px;
    }

    h2 {
        color: v.$fs6-blue;
        font-size: 28px;
        margin: 0;
    }
}

#founders-section {
    padding-top: 40px;
    padding-bottom: 40px;
    
    background-color: #fff;
}

#founders-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
}

.founders-card {
    // height: 300px;
    // width: 300px;
    text-align: center;
    h2 {
        color: v.$fs6-pink;
        margin: 0;
        margin-top: 12px;
    }
}

.founders-photo {

    img {
        border-radius: 50%;
        //padding-bottom: 12px;
        width: 300px;
        height: 300px;
    }
}

////////////////////// MEDIA QUERIES ////////////////////////

@media screen and (min-width: 700px) {
    #our-mission {
        width: 730px;
    }

    .section-separator-color-fill {

        padding-top: 90px;
        padding-bottom: 90px;

        h3 {
            
            font-size: 32px;
  
        }
    
        h2 {

            font-size: 62px;

        }
    }

    #founders-section {
        padding: 90px 0 90px 0;
    }
}

@media screen and (min-width: 768px) {
    #about-hero-text {

        width: 420px;

        h2 {
            text-align: left;
        }

        p {
            text-align: left;
        }
    }

    #about-section-text {
        width: 380px;
    }

    #our-mission {
        width: 730px;
    }
}

@media screen and (min-width: 1200px) {

    #about-section {
        padding-top: 80px;
        padding-bottom: 80px;
    }

    #about-hero-content {
        padding-top: 80px;
        padding-bottom: 80px;
    }

    #about-hero-text {
        width: 580px;

        h2 {
            font-size: 65px;
        }
    }

    #about-hero-logo{
        width: 360px;
    }

    #about-section-text {
        width: 580px;
    }

    #about-section-img {
        width: 360px;
    }

    #our-mission {
        width: 1000px;
    }
}

@media screen and (min-width: 1900px) {

    #about-section {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    #about-hero-content {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    #about-hero-text {
        width: 700px;
        margin-right: 260px;

        h2 {
            font-size: 75px;
        }
    }

    #about-hero-logo{
        width: 560px;
    }

    #about-section-text {
        width: 700px;
        margin-right: 260px;
        h2 {
            font-size: 42px;
        }

        p {
            font-size: 22px;
            line-height: 32px;
        }
        
    }

    #about-section-img {
        width: 560px;
    }

    #our-mission {
        width: 1555px;
        padding-right: 20px;

        h2 {
            font-size: 42px;
        }

        p {
            font-size: 22px;
            line-height: 32px;
        }
    }

    .section-separator-color-fill {

        padding-top: 90px;
        padding-bottom: 90px;

        h3 {
            
            font-size: 62px;
  
        }
    
        h2 {

            font-size: 120px;

        }
    }

    #founders-content {
        gap: 150px;
    }
}