@use '../abstracts/variables' as v;

//HOME GLOBALS

body {
    background-color: #fff;
    color: v.$body-text-color;
}

a {
    text-decoration: none;
    transition: all .5s ease-in-out;
}

input, textarea {
    display: block;
    margin: 0;
    padding: 0;
}

span {
    font-weight: bold;
}

.active {
    background-color: #df551e;
}

//HERO STUFF

#hero-main {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    //background: linear-gradient(rgba(211, 89, 133, 0.50), rgba(211, 89, 133, 0.50)), url(../images/hero-bg-1.jpg);
    background-color: v.$fs6-blue;
    // background-size: cover;
    // background-position: center;

    h3 {
        font-family: v.$body-font-family;
        color: #fff;
        font-size: 38px;
        font-weight: 100;
    }

    h2 {
        font-family: v.$hero-heading;
        color: #fff;
        font-size: 48px;
    }

    p {
        color: #fff;
        font-size: 18px;
        line-height: 36px;
    }

    span {
        background-color: v.$fs6-pink;
    }
    
}

#hero-content {
    //margin: auto 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#hero-text {
    margin-bottom: 50px;
}

//GOALS STUFF

#goals {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: v.$fs6-pink;
    h2 {
        color: #fff;
        width: 100%;
    }
}

#goals-content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    text-align: center;
    h2 {
        color: #fff;
    }
}

.goals-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    margin-bottom: 30px;
    width: 200px;
    h3 {
        margin-top: 12px;
    }
}

//DONATE CTA STUFF

.section-separator {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    //gap: 25px;
    padding-top: 50px;
    padding-bottom: 50px;
    //background-color: #272727;
    background: linear-gradient(rgba(34, 133, 199, 0.80), rgba(34, 133, 199, 0.80)),url(../images/donation-cta-bg.jpg);
    background-size: cover;
    background-position: center;   
    //margin-bottom: 55px;

    h2 {
        padding: 12px;
        //color: v.$fs6-yellow;
        color: #fff;
        font-size: 38px;
        line-height: 3rem;
    }

    p {
        color: #fff;
        font-size: 18px;
        line-height: 36px;
        padding: 0 35px 0 35px;
        margin-bottom: 30px;
    }
}

// BRIDGES

#building-bridges {
    padding-top: 60px;
    padding-bottom: 60px;
}

#building-bridges-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#building-bridges-text {
    margin-bottom: 30px;
    h2 {
        color: v.$fs6-blue;
    }

    h3 {
        margin-bottom: 20px;
    }

    p {
        margin-bottom: 20px;
        span {
            font-weight: 900;
        }
    }
}

//EVENTS LIST STUFF

#events {
    padding-top: 60px;
    background-color: #fff;
}

#events-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
    h2 {
        text-align: center;
        width: 100%;
        font-family: v.$heading-font-family;
        color: v.$fs6-blue;
    }
}

.link-to-page {
    margin-top: 32px;
    color: v.$fs6-blue;
    font-size: 16px;
    text-align: right;

    a {
        color: v.$fs6-blue;
    }

    &:hover {
        text-decoration: underline;
        text-decoration-color: v.$fs6-blue;
        text-underline-offset: 8px;
        text-decoration-thickness: 3px;
    }
}

.link-to-blogs {
    margin-top: 32px;
    color: #fff;
    font-size: 16px;
    text-align: right;

    a {
        color: #fff;
    }

    &:hover {
        text-decoration: underline;
        text-decoration-color: #fff;
        text-underline-offset: 8px;
        text-decoration-thickness: 3px;
    }
}

#video-section {
    display: flex;
    margin-top: 60px;
    gap: 30px;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 60px;
}

#video-headline {
    width: 640px;

    h3 {
        color: v.$fs6-blue;
        font-size: 20px;
        margin-bottom: 20px;
    }

    p {
        margin-bottom: 20px;
        font-size: 18px;
        line-height: 28px;
    }
}

#video-player {
    width: 640px;
}

// LATEST BLOG POSTS

.blog-latest {
    padding-top: 50px;
    padding-bottom: 50px;
    background: linear-gradient(rgba(211, 89, 133, 0.65), rgba(211, 89, 133, 0.65)),url(../images/blog-widget.jpg);
    background-size: cover;
    background-position: center;

    h2 {
        color: v.$fs6-yellow;
        //font-size: 38px;
        width: 100%;
        font-family: v.$heading-font-family;
        color: #fff;
        font-weight: 900;
        text-align: center;
    }
}

.blog-latest-content {
    display: flex;
    justify-content: center;
    //align-items: stretch;
    //align-items: center;
    flex-wrap: wrap;
    gap: 30px;

    h3 {
        color: #fff;
    }

    p {
        color: #fff;
        font-size: 14px;
        line-height: 36px;
    }
}

.blog-post-preview {
    
    width: 300px;

    img {
        border-radius: 8px;
    }

    &:hover {
        h3 {
            color: v.$fs6-yellow;
        }
    }
}

///////CONTACT

#contact-section {
    background: linear-gradient(rgba(34, 133, 199, 0.80), rgba(34, 133, 199, 0.80)),url(../images/contact-bg.jpg);
    background-size: cover;
    background-position: center;
}

#contact-content {
    padding-top: 60px;
    text-align: center;

    h2 {
        color: v.$fs6-yellow;
    }
}

/////////////////////////// MEDIA QUERIES ////////////////////////////////

@media screen and (min-width: 768px) {
    #hero-main {
        text-align: left;

        h3 {
            font-size: 44px;
            margin-bottom: 15px;
        }

        h2 {
            font-size: 58px;
        }

        p {
            line-height: 32px;
        }
    }

    #hero-text {
        width: 400px;
    }

    #hero-img {
        width: 320px;
    }
    
}

@media screen and (min-width: 1200px) {
    //HERO STUFF

    #hero-main {
        padding-top: 90px;
        padding-bottom: 90px;
        background-size: cover;
        background-position: center;
        text-align: left;

        h3 {
            font-family: v.$body-font-family;
            color: #fff;
            font-size: 62px;
            font-weight: 100;
        }

        h2 {
            font-family: v.$hero-heading;
            color: #fff;
            font-size: 80px;
        }

        p {
            color: #fff;
            font-size: 18px;
            line-height: 32px;
        }
    }

    // #hero-content {
    //     margin: auto 0;
    // }

    #hero-text {
        width: 550px;
    }

    #hero-img {
        width: 420px;
    }

    .goals-details {
        width: 300px;
    }

    .section-separator {
        p {
            font-size: 22px;
            line-height: 32px;
        }
    }

    // BRIDGES

#building-bridges {
    padding-top: 90px;
    padding-bottom: 90px;
}

#building-bridges-content {
    gap: 40px;
}

#building-bridges-text {
    margin-bottom: 30px;
    //width: 540px;
    width: 50%;
    h2 {
        font-size: 50px;
        color: v.$fs6-blue;
    }

    h3 {
        font-size: 28px;
        margin-bottom: 20px;
        width: 400px;
    }

    p {
        margin-bottom: 20px;
        font-size: 18px;
        line-height: 28px;
    }
}

#building-bridges-img {
    //width: 380px;
    width: 30%;
}

    #events {
        padding-top: 60px;
    }

    #events-section {
        h2 {
            font-size: 38px;
            font-weight: 900;
        }
    }

    .link-to-page {
        font-size: 22px;
        text-align: left;
        padding-left: 30px;
        margin-bottom: 20px;
    }

    .link-to-blogs {
        font-size: 22px;
        text-align: left;
        padding-left: 152px;
        margin-bottom: 20px;
    }

    #video-headline {

        margin: auto 0;

        width: 30%;

        h3 {
            font-size: 32px;
        }

        p {
            margin-bottom: 30px;
        }
    }

    #video-section {
        padding-bottom: 90px;
    }

    .blog-latest {
        padding-top: 80px;
        padding-bottom: 80px;

        h2 {
            font-size: 38px;
        }
    }

    #contact-section {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    
}

@media screen and (min-width: 1900px) {

    #hero-main {
        background-size: cover;
        background-position: center;
        text-align: left;

        h3 {
            font-family: v.$body-font-family;
            color: #fff;
            font-size: 92px;
            font-weight: 100;
        }

        h2 {
            font-family: v.$hero-heading;
            color: #fff;
            font-size: 120px;
        }

        p {
            color: #fff;
            font-size: 24px;
            line-height: 36px;
        }
    }

    // #hero-content {
    //     //margin: auto 0;
    //     display: flex;
    //     justify-content: center;
    //     align-items: center;
    // }

    #hero-text {
        width: 850px;
    }

    #hero-img {
        width: 620px;
    }

    #goals {
        padding-top: 80px;
        padding-bottom: 80px;
    }

    .section-separator {
        p {
            font-size: 24px;
            line-height: 36px;
            padding: 0 200px 0 200px;
        }
    }

    .link-to-page {
        padding-left: 10px;
    }

    .link-to-blogs {
        padding-left: 228px;
    }

    #building-bridges-text {
    
        p {
            margin-bottom: 20px;
            font-size: 22px;
            line-height: 32px;
        }
    }

    #building-bridges-img {
        //width: 380px;
        width: 25%;
    }

    #video-headline {

        margin: auto 0;

        width: 30%;
        padding-right: 50px;

        h3 {
            font-size: 52px;
        }

        p {
            margin-bottom: 30px;
            font-size: 24px;
            line-height: 36px;
        }
    }

    #video-player {
        width: 854px;
        height: 480px;
    }

    .blog-latest-content {
        gap: 30px;
    }

    .blog-post-preview {
        width: 500px;
    }

    .blog-latest {
        padding-top: 120px;
        padding-bottom: 120px;

        h2 {
            font-size: 38px;
        }
    }

    #contact-section {
        padding-top: 80px;
        padding-bottom: 80px;
    }
    

}